:root {
  --color-tertiary: #d3b700;
  --color-tertiary-light: #fee95d;
  --color-tertiary-dark: #a28d01;
  --color-secondary: #d90241;
  --color-secondary-light: #fd2163;
  --color-secondary-dark: #790125;
  --color-primary: #0282be;
  --color-primary-light: #35befd;
  --color-primary-dark: #014565;
  --color-4: #01a046;
  --color-4-light:#1fff80;
  --color-4-dark: #003d1b;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-black-1: #000503;
  --color-black-2: #212121;
  --color-black-3: #191919;
  --color-black-4: #000;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1 rem = 10px */
  background-color: var(--color-black-1);
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: linear-gradient(to right bottom, var(--color-black-2), var(--color-black-1));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.logo {
  background-image: var(--color-grey-dark-1);
  height: 7rem;
  margin-left: 2rem;
  cursor: pointer;
}

.search {
  flex: 0 0 40%;
  margin-right: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  color: var(--color-grey-dark-1);
  background-color: var(--color-black-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.3s;
  margin-right: -3.5rem;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-dark-2);
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-dark-4);
}
.search__input:focus + .search__button {
  background-color: var(--color-grey-dark-2);
}
.search__button {
  border: none;
  background-color: var(--color-black-2);
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  background-color: var(--color-black-2);
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-1);
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav > *:hover {
  background-color: var(--color-black-3);
}
.user-nav__icon {
  width: 3rem;
  height: 3rem;
  fill: var(--color-grey-light-1);
}

.side-nav {
  font-size: 1.5rem;
  list-style: none;
  margin-top: 3.5rem;
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-secondary);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}
.side-nav__item--home::before {
  background-color: var(--color-primary);
}
.side-nav__item--cp::before {
  background-color: var(--color-tertiary);
}
.side-nav__item--t::before {
  background-color: var(--color-4);
}
.side-nav__item:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__link:link, .side-nav__link:visited {
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
}
.side-nav__icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 2rem;
  fill: var(--color-grey-light-1);
}

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25rem;
  width: 26rem;
  color: var(--color-grey-light-1);
}
.info-content__title {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  margin-right: 3.5rem;
}
.info-content__title--stat-1 {
  border-bottom: 2px solid var(--color-primary-light);
}
.info-content__title--stat-2 {
  border-bottom: 2px solid var(--color-secondary-light);
}
.info-content__title--stat-3 {
  border-bottom: 2px solid var(--color-tertiary-light);
}
.info-content__number {
  font-size: 6rem;
}
.info-content__text {
  font-size: 2rem;
}

.top-footer {
  background-color: var(--color-black-1);
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: space-around;
  justify-items: center;
  padding: 3rem 0;
  list-style: none;
}
.top-footer__items {
  position: relative;
}
.top-footer__items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-bottom: 1.5px solid var(--color-secondary);
  transform: scaleX(0);
  transition: transform 0.3s;
}
.top-footer__items--home::before {
  border-bottom: 1.5px solid var(--color-primary);
}
.top-footer__items--cp::before {
  border-bottom: 1.5px solid var(--color-tertiary);
}
.top-footer__items--t::before {
  border-bottom: 1.5px solid var(--color-4);
}
.top-footer__items:hover::before {
  transform: scaleX(1);
  width: 100%;
}
.top-footer__links, .top-footer__links:visited {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin: 1.2rem;
  position: relative;
  z-index: 10;
}
.top-footer__links:hover {
  transition: all 0.38s ease 0s;
}

.bottom-logo {
  background-color: var(--color-black-1);
}

.bottom-logo-link {
  display: flex;
  justify-content: center;
  background-image: var(--color-grey-dark-1);
  height: 10rem;
}

.social-links {
  margin: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black-1);
  text-align: center;
  height: 10rem;
}
.social-links__links {
  flex: 1 0 25%;
}
.social-links__icon {
  margin: 0 1.8rem;
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-light-1);
}
.social-links__icon--fa:hover {
  fill: #4267b2;
  transition: all 0.3s ease 0s;
}
.social-links__icon--yt:hover {
  fill: #ff0000;
  transition: all 0.3s ease 0s;
}
.social-links__icon--tw:hover {
  fill: #1da1f2;
  transition: all 0.3s ease 0s;
}
.social-links__icon--in:hover {
  fill: #ff00e1;
  transition: all 0.3s ease 0s;
}

.bottom-text {
  flex-basis: 100%;
}

.h2-title {
  color: var(--color-grey-light-1);
  font-size: 5rem;
  text-align: center;
  margin: 4rem 0;
  text-transform: uppercase;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black-1);
  border-radius: 10px;
  color: var(--color-grey-light-1);
}
.product__img {
  padding-top: 1rem;
  width: 85%;
  height: 50%;
}
.product__title {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.product__description {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 2rem 2rem 2rem;
  line-height: 12px;
}
.product__price {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  padding-top: 2rem;
}

.contact-title {
  background-color: var(--color-black-3);
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--color-grey-light-1);
}
.contact-title__text {
  color: var(--color-grey-light-1);
  font-size: 3.5rem;
  margin: 3rem 0 12rem 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.contact-title__img {
  width: 30rem;
  border-radius: 50%;
}

.contact-form {
  flex: 1;
  background-color: var(--color-black-3);
}
.contact-form__title {
  font-size: 4rem;
  position: relative;
  top: 2rem;
  left: 2rem;
  padding: 1rem;
  color: var(--color-grey-light-1);
  font-weight: 300;
  text-transform: uppercase;
}

.form {
  padding: 0 5rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.input-box {
  height: 5rem;
  width: 100%;
  margin: 3rem 0;
  color: var(--color-black-1);
  position: relative;
}

.input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid var(--color-grey-light-1);
  border-radius: 20px;
  outline: none;
  padding-left: 1rem;
  color: var(--color-grey-light-1);
  font-size: 1.5rem;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 1rem;
  padding-left: 1rem;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: var(--color-grey-light-1);
}

.input-box .input:focus ~ label,
.input-box .input:valid ~ label {
  top: -1px;
  left: 10px;
  background-color: var(--color-black-3);
  padding: 5px;
}

textarea.input {
  resize: none;
  height: 15rem;
  overflow: auto;
}

.contact-btn {
  margin-left: 6.5rem;
  position: relative;
  top: 10rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right bottom, var(--color-grey-dark-1), var(--color-black-2));
  color: #fff;
  position: relative;
  overflow: hidden;
}
.contact-btn > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.2s;
  cursor: pointer;
}
.contact-btn__visible {
  padding: 2rem 5rem;
}
.contact-btn__invisible {
  position: absolute;
  padding: 2rem 0;
  left: 0;
  top: -100%;
}
.contact-btn:hover {
  background-image: linear-gradient(to right bottom, var(--color-black-2), var(--color-grey-dark-1));
}
.contact-btn:hover .contact-btn__visible {
  transform: translateY(100%);
}
.contact-btn:hover .contact-btn__invisible {
  top: 0;
}
.contact-btn:focus {
  outline: none;
  animation: pulsate 1s infinite;
}

.wrap {
  flex: 1;
  position: relative;
}

.mot-title {
  font-size: 6rem;
  color: var(--color-grey-light-1);
  margin: 3rem 0;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.slide1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.525)), url(/img/img-t/tours5.jpg);
}

.slide2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.582)), url(/img/img-t/tours3.jpeg);
}

.slide3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.582)), url(/img/img-t/tours4.jpg);
}

.slide4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.131), rgba(0, 0, 0, 0.264)), url(/img/img-t/tours1.jpg);
}

.slide5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.126), rgba(0, 0, 0, 0.582)), url(/img/img-t/tours2.jpg);
}

.slide-content {
  display: flex;
  justify-content: flex-end;
}

.mot-text {
  margin-top: 4rem;
  font-size: 3.5rem;
  color: var(--color-grey-light-1);
  letter-spacing: 0.5px;
  background-color: rgba(0, 0, 0, 0.203);
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: 3rem;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 3rem 4rem 3rem 0;
  border-color: transparent var(--color-grey-light-1) transparent transparent;
  left: 0;
  margin-left: 3.5rem;
}

#arrow-right {
  border-width: 3rem 0 3rem 4rem;
  border-color: transparent transparent transparent var(--color-grey-light-1);
  right: 0;
  margin-right: 3.5rem;
}

.header {
  font-size: 1.4rem;
  height: 8rem;
  background-color: var(--color-black-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  height: auto;
}

.sidebar {
  background-color: var(--color-black-3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
}

.sidebar-none {
  display: none;
}

.solar-view {
  display: flex;
  flex: 1;
  align-items: flex-end;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.935)), url("../img/home-cover.jpg");
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 92vh;
}

.info {
  display: flex;
  height: 15rem;
  font-size: 1.4rem;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 10rem;
}

.products-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem auto;
  max-width: 124rem;
  padding: 2rem;
  gap: 8rem;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-image: url("https://static01.nyt.com/images/2017/07/02/magazine/02meti1/02meti1-videoSixteenByNineJumbo1600-v6.gif");
  background-size: cover;
  background-position: bottom;
  height: 90vh;
}

.contact-container {
  width: 80rem;
  height: 60rem;
  background-image: linear-gradient(to right bottom, var(--color-black-2), var(--color-grey-dark-1));
  border-radius: 10px;
  margin-left: 15rem;
  margin-bottom: 5rem;
  box-shadow: 0px 5px 10px 0px rgba(1, 1, 1, 0.347);
  overflow: hidden;
  display: flex;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#slider,
.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 73vh;
}

.footer {
  height: 20vh;
  color: var(--color-grey-light-1);
}/*# sourceMappingURL=main.css.map */